E:madhu/projects/backup/b2c/gifinserv

easetoursbackofficelates:
C:\Users\Madhu.GIGROUP\Pictures\EaseTours

EaseTourspath

E\EaseToursfromdhakshin\EaseTourHoliday


Selenium
  http://115.110.148.66/Agsparking/Account/Login

http://123.176.34.84/Agsparking/Account/Login

http://14.142.234.97/smartmoney


http://115.112.175.5/SmartRupeeboffice/

Image view:
target="_blank"

Filezila:

136.243.67.94
adgirin1
fxC5f08%

http://adgir.in/FMT/Account/UpdateStatus


Username: adgirin1
Password: l50Qy7Pf3i
https://dnp.crystalregistry.com:8443

Ftp:
e

ftp://220.225.104.135/

gihosfuser
gihosp123*

14.142.211.226

7200003374

http://www.sense-lang.org/typing/tutor/EN_lessons.php?lesson=1



E:\Madhu\Projects\Backup\B2C\GiFinserv


important topic:

factory in angularjs




xlworkbook

http://themes.pixelwars.org/photographer-html/


AIzaSyDuLXr2l7LCeM_8QXLryFUdVaSgjKwBNTI

ntes

gikey:
AIzaSyCr46i0h8N6BKpxt4qdifWHM9TVQJac9Vc


http://115.112.175.13/EaseToursBOffice/
username: eadmin
password: etadmin&456&


http://exammind.in/

http://themes.a3devs.com/tf/html/liberal/index.html

Geolocation
https://www.gps-coordinates.net/

5170616880690621


D:\Parking_daily changes\Live project code\RBLAPIWindowsApp

http://devops.gihosp.com:8080/cargowiki

E:Madhu/Projects/Backup/B2C/Gifinserv

ntes


Moz
search Engine round table
soudmeloud


Username: adgirin1
Password: l50Qy7Pf3i
https://dnp.crystalregistry.com:8443

Skullcandy S2IKJY-530 Inkd Wired Headset With Mic

http://keenthemes.com/preview/metronic/

Git  in wiki

node.js in wiki

npm in wiki


Angular tut video path:
E:\Madhu\tutorial videos\Angular2 videos\Angular2-3

D:\Angular_Madhu


E:\A2full code


https://www.microsoft.com/net/core#windowscmd


https://www.aspsnippets.com/Articles/Export-GridView-data-to-Excel-and-send-Excel-File-as-email-attachment-in-ASPNet.aspx


https://stackoverflow.com/questions/26715171/send-dataset-data-email-via-attachment-excel-file-xls-not-creating-excel-file


http://www.c-sharpcorner.com/UploadFile/dbb82e/read-data-from-excel-filexlsxlsxcsv-in-Asp-Net-mvc/

Admin@Banq.com
admin@123

angular1 video

D:\Parking_daily changes

E:\Overall_lastfile
